:root {
    /*Couleurs*/
    --Gris: #F3F3F3;
    --Green: #99E2D0;
    --Green-Font: #008766;
    --Blue: #89C8FA;
    --Blue2: #003A68;
    --Primary: #9356DC;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h3,
h2 {
    font-family: 'Roboto', sans-serif;
}


/*   lien pas de bleu pas de underscore */
a {
    color: black;
    text-decoration: none;
}

/* Page Index  */
.restaurants {
    background-color: var(--Gris);
    padding: 17%;
}

.lieu {
    background-color: lightgrey;
    padding: 4%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.explorer {
    text-align: center;
    background-color: var(--Gris);
    padding: 12%;
}

.explorer h1 {
    font-size: x-large;
    gap: 10px;
}

.explorer h2 {
    font-weight: 100;
    font-size: large;
}

.btnmenus {
    border-radius: 35px;
    background: linear-gradient(#FF79DA, #9356DC);
    max-width: 218px;
    min-width: 186px;
    height: 45px;
    text-align: center;
    color: white;
    margin: 3%;
    margin-top: 10%;

    &:hover {
        opacity: 80%;
    }
}

/*Fonctioneemnt*/
.fonctionement {
    padding-top: 15%;
    padding-bottom: 5%;
    justify-content: baseline;
}

.ligne-fonctionement {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.fonctionement h1 {
    padding-left: 3%;
}

.btn-fonctionement {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px #938b8b44;
    background-color: var(--Gris);
    width: 322px;
    height: 72px;
    font-family: 'Roboto', sans-serif;
}

.icone:hover {
    color: var(--Primary);
}

.numeroTexte {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    width: 80%;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #f6f6f6;
    background: var(--Primary);
    position: absolute;
}

/*Restaurant*/
.restaurants {
    padding-left: 2%;
    padding-right: 2%;
}

.fiche {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 10px;


}

.detail {
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.restaurant-name {
    font-weight: bold;
}

.restaurants h1 {
    padding-bottom: 3%;
}

/*Encadrer New*/
.btnouveau {
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 10px 10px 0 0;
}

.texteNew {
    background-color: var(--Green);
    color: var(--Green-Font);
    padding: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: auto;
}

.image {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
}



.img-la-pallette {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img-la-note {
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img-la-francaise {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img-delice {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

$coeur-width: 19px;
$coeur-height: 17px;

.coeur {
    width: $coeur-width;
    height: $coeur-height;
    cursor: pointer;
}

.coeur-lb {
    width: $coeur-width;
    height: $coeur-height;
}

input.coeur-cb {
    display: none;
}

// montre le coeur sans rien
.coeur-uc {
    display: block;
}

.coeur-ch {
    display: none;
}

// montre le coeur fill
input.coeur-cb:checked~.coeur-ch {
    display: block;
}

input.coeur-cb:checked~.coeur-uc {
    display: none;
}

.fa-regular.fa-heart {
    width: $coeur-width;
    height: $coeur-height;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-solid.fa-heart {
    width: $coeur-width;
    height: $coeur-height;
    -webkit-text-fill-color: transparent;
    background: radial-gradient((#FF79DA), (#9356DC));
    background-color: radial-gradient((#FF79DA), (#9356DC));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Footer*/
footer {
    background-color: #353535;
    height: 10%;
    margin: 0%;
    padding-top: 1%;
    padding-left: 3%;
    font-weight: 100;


}

footer a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

h4 {

    font-family: 'Shrikhand', serif;
    padding: 0%;
    font-weight: 200;
}

h5 {
    text-align: end;
    display: none;
    font-family: 'Shrikhand', serif;
    padding: 0%;
}

li {
    padding: 2px;
    list-style-type: none;
}

.restaurant-location {
    font-family: 'Roboto', sans-serif;
}

.loader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary);
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: loader 2s linear forwards;
}

@keyframes loader {
    0% {
        transform: scale(2);
        opacity: 1;
        z-index: 1;
    }

    99% {
        z-index: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
        z-index: -1;
    }
}

/********************************************** page restaurant menu*******************************************/

/*presentation*/
.logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

i .fa-solid .fa-arrow-left {
    flex-direction: column;
    width: 10%;

}

.logo img {
    flex-direction: column;
    text-align: center;
}

.img-logo {
    width: 100%;

}


.presentation .image {
    border-radius: 0%;
    padding-left: 10px;
    height: 300px;
}

/*1erligne*/
.premierligne {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 10px;

}

.menu .premierligne h4 {
    padding-left: 20px;
    font-size: xx-large;
    padding-top: 15px;
}

.menu .premierligne label {
    padding-right: 10px;
}



/* Menu restaurant */

.menu {
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    border-radius: 40px 40px 0 0;
    margin-top: -78px;
    padding-top: 3%;


}

/*titre selection */
.titre-selection {
    text-transform: uppercase;
    border-bottom: 3PX solid var(--Green);
    width: 33px;
    text-align: right;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;


}

/*L'ensemble des plats*/
/**  MENU   **/

.recette {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px 0 lightgrey;
    border-radius: 15px;
    margin: 4%;
    cursor: pointer;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    align-content: center;
    text-align: center;
    max-width: 1055px;



}

/**  nom du plat et ingredient  **/
.nom {
    flex-direction: column;
    text-align: start;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
    padding: 15px;

}

.nom h3 {
    font-size: small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 500;
    font-size: larger;

}

/**  parti prix et checked ANIMATION  **/
.prix {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15%;
    padding: 10px;
}

.checked {
    width: 0%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    animation-name: animationchecked;
    color: white;

    /* Nom de l'animation créée avec @keyframes */
}


.presentation .menu .recette:hover .checked {
    justify-content: center;
    white-space: nowrap;
    color: white;
    width: 15%;
    align-items: center;
    border-radius: 0 15px 15px 0;
    background-color: var(--Green);
    transform: translateX(-0px);
    transition: 2s ease-in-out;
}

.presentation .menu .recette:hover .checked i {

    transition: transform 2s ease-in-out;
}

.commandez {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;

}



/* Animation debut de page slide des plats */
.entrees {
    animation: apparition 1s backwards;
    padding-top: 10PX;
    padding-bottom: 10PX;
}

.plats {
    animation: apparition 1.5s backwards;
    padding-top: 20PX;
    padding-bottom: 10PX;
}

.desserts {
    animation: apparition 2s backwards;
    padding-top: 20PX;
    padding-bottom: 10PX;
}

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes animationchecked {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

/********************************************** MEDIA QUERIES*******************************************/
@media screen and (min-width: 768px) {
    .body {
        max-width: 1055px;
    }

    .logo {
        padding: 2%;
    }

    .lieu {
        padding: 1%;
        gap: 10px;
    }

    .btnmenus {
        margin-top: 0%;
        width: 200px;
    }

    .explorer {
        padding: 3%;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    .explorer h1{
        font-size:40px;

        font-weight: 900;
    }

    .numeroTexte {
        width: 30.3%;

    }

    .fonctionement {

        padding-top: 2%;
        padding-bottom: 2%;
        max-width: 1055px;
        margin: auto;
    }

    .ligne-fonctionement {
        padding: 0;
        flex-direction: row;
        display: flex;
        padding-left: 5%;
    }

    .restaurants {
        padding: 2%;
    }

    .restaurants h1 {
        max-width: 1055px;
        margin: auto;
        padding: unset;
    }

    .fiche-restaurant {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 1055px;
        margin: auto;
    }

    .fiche {
        gap: 40px;
        padding: 0%;
        margin: 3%;
    }

.detail{
    padding: 3%;
}

    .lignedestok {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0%;
     
    }

    .image {
        display: block;
        height: 180px;
        width: auto;
    }

    .texteNew {
        margin-right: 5%;
    }

    li {
        display: inline;
    }

    h5 {
        display: inline
    }

    .premierligne {
        justify-content: center;
        gap: 10px;
    }

    .menu {

        padding: 3%;
        margin-top: -3%;
        align-content: center;
        text-align: center;
        max-width: 1055px;

    }

    .recette {
        margin: auto;
        text-align: center;
        margin-bottom: 1%;
        max-width: 634px;
    }

    .titre-selection {
        margin-left: 200px;
       margin-bottom: 20px;
    }


    .presentation .image {
        height: 383px;
        max-width: 1440px;
        object-fit: contain;

    }

.commandez{
    padding-bottom: 0%;
}

    footer {
        padding-top: 3%;
        padding-bottom: 1%;
        padding-right: 3%;
        text-align: end;
    }

    footer h4 {
        display: none;
    }
}