:root {
    /*Couleurs*/
    --Gris: #F3F3F3;
    --Green: #99E2D0;
    --Green-Font: #008766;
    --Blue: #89C8FA;
    --Blue2: #003A68;
    --Primary: #9356DC;

}

/**/
/**/


/* Page Index  */
.restaurants {
    background-color: var(--Gris);
    padding: 3%;
}

.logo {

    text-align: center;
    padding: 5%;
}

.lieu {
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}

.explorer {
    text-align: center;
    background-color: var(--Gris);
    padding: 1%;
}

.btnmenus {
    border-radius: 35px;
    background: linear-gradient(#FF79DA, #9356DC);
    Width: 200px;
    height: 45px;
    text-align: center;
    color: white;
    margin: 3%;
}

/*Fonctioneemnt*/
.fonctionement {
    padding: 4%;
}


.ligne-fonctionement {
    flex-direction: column;
    display: flex;
}

.btn-fonctionement {
    display: flex;
    text-align: center;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px #938b8b44;
    background-color: var(--Gris);
    border-radius: 25px;
    padding: 4%;
    margin: 1% 1% 10% 1%;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 5%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #f6f6f6;
    background: #9356dc;
}

/*Restaurant*/
.fiche {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    margin: 4%;
}

.detail {
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}


.restaurant-name {
    font-weight: bold;
}

.fa-regular,
.fa-heart {
    align-items: end;
}

.image {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.img-la-pallette {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img-la-note {
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img-la-francaise {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img-delice {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*Encadrer New*/
.btnouveau {
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 10px;
}

.texteNew {
    background-color: var(--Green);
    color: var(--Green-Font);
    padding: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: auto;

}


/*Footer*/
footer {
    background-color: #353535;
    color: white;
    width: 100%;
    height: 10%;
    padding: 5px 0px 10px 10px;
}

h4 {
    font-family: 'Shrikhand', serif;
    padding: 0%;
}


li {
    padding: 2px;
    list-style-type: none;
}

@media screen and (min-width: 768px) {

    .ligne-fonctionement {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .btn-fonctionement {
        width: 30%;
        height: 10px;
        padding: 3%;
    }



    .fiche-restaurant {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .lignedestok {
        display: flex;
        flex-direction: row;

        justify-content: space-evenly;
        padding: 0%;
    }

    .fiche {
        width: 490px;
        height: 251px;
    }

    .image {
        display: block;
        height: 180px;
        width: :auto;
    }
.texteNew{
    margin-right: 5%;
}

    footer {
        text-align: end;
    }

    li {
        display: inline;
        padding: 2px;
        list-style-type: none;
        flex-direction: row;
        margin-right: 10%;
    }
}